<div class="products__actions">
  <mat-checkbox class="products__selector"
    (change)="$event ? masterToggle() : null"
    [checked]="selection.hasValue() && isAllSelected()"
    [indeterminate]="selection.hasValue() && !isAllSelected()">
  </mat-checkbox>

  <button mat-icon-button [matMenuTriggerFor]="selectionMenu">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #selectionMenu="matMenu">
    <button mat-menu-item (click)="masterToggle()" [disabled]="isAllSelected()">Select All</button>
    <button mat-menu-item (click)="masterToggle()" [disabled]="!isAllSelected()">Unselect All</button>
    <button mat-menu-item>Published</button>
    <button mat-menu-item>Unpublished</button>
  </mat-menu>

  <button mat-icon-button class="products__button--settings" 
    [matMenuTriggerFor]="statusMenu"
    [disabled]="!selection.hasValue()">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #statusMenu="matMenu">
    <button mat-menu-item>Set as Published</button>
    <button mat-menu-item>Set as Unpublished</button>
  </mat-menu>

  <span class="spacer"></span>
  
  <button mat-raised-button class="products__button--add">ADD NEW PRODUCT <mat-icon>add</mat-icon></button>
</div>

<mat-table class="products__table mat-elevation-z3" [dataSource]="products">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">

      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Original</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.price | currency:'USD':'symbol':'1.0-0' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="discount">
    <mat-header-cell *matHeaderCellDef>Discount</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ (row.price * row.discount) | currency:'USD':'symbol':'1.0-0' }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="inventories">
      <mat-header-cell *matHeaderCellDef>
        <span class="products__inventoryHeader products__inventoryHeader--size">Size</span>
        <span class="products__inventoryHeader products__inventoryHeader--color">Color</span>
        <span class="products__inventoryHeader products__inventoryHeader--amount">Inventory</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ul class="inventories">
          <li *ngFor="let size of row.inventories | keys" class="inventories__elm">
            <span class="inventories__cell inventories__cell--size">{{ size }}</span>
            <ul class="inventories__info">
              <li *ngFor="let iv of row.inventories[size]" class="inventories__info-elm">
                  <span class="inventories__cell inventories__cell--color">{{ iv.color }}</span>
                  <span class="inventories__cell inventories__cell--amount">{{ iv.amount }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-flat-button class="products__actionButton"
              [class.unpublished]="row.status === 0"
              [class.published]="row.status === 1"
              [matMenuTriggerFor]="statusMenu">
        {{ (row.status === 0 ? 'unpublished' : 'published') | uppercase }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns" class="products__tableHeader"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
