<div class="dashboard">
  <div class="dashboard__header">
    <h2 class="dashboard__title">OVERVIEW</h2>
    <div class="dashboard__actions">
      <app-duration-picker></app-duration-picker>
    </div>
  </div>
  
  <app-statistics></app-statistics>
  
  <div class="dashboard__info">
    <mat-card class="transactions-card">
      <mat-card-header class="transactions-card__title">Transaction Website</mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="transactions__item" *ngFor="let t of transactions">
            <span class="list-item list-item__image"></span>
            <h4 class="list-item list-item__title">{{ t.site }}</h4>
            <span class="list-item list-item__current">{{ t.current | number:'1.0-0' }}</span>
            <span class="list-item list-item__percent" 
              [class.gt]="t.d > 0"
              [class.eq]="t.d === 0"
              [class.lt]="0 > t.d">
              <span *ngIf="t.d > 0" ><i class="fas fa-arrow-up"></i></span>
              <span *ngIf="t.d === 0" ><i class="fas fa-minus"></i></span>
              <span *ngIf="0 > t.d" ><i class="fas fa-arrow-down"></i></span>
              {{ ((t.current - t.last) / t.current * 100) | number:'1.0-0' }}%
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="latestorders-card">
      <mat-card-header class="latestorders-card__title">Latest Orders</mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="latestorders__item" *ngFor="let order of latestOrders">
            <div class="list-item list-item-img">
                <img src="https://fakeimg.pl/100/" >
            </div>
            <div class="list-item list-item__info">
              <h3 class="product__title">{{ order.products[0].name }}</h3>
              <div class="product__addedAt"><i class="fas fa-clock fa-fw"></i> {{ order.addedAt | date:'yyyy/MM/dd HH:mm' }}</div>
              <div class="product__customer"><i class="fas fa-male fa-fw"></i> {{ order.customer }}</div>
            </div>
            <div class="list-item list-item__total">
              <div>Total</div>
              <div class="product__price">{{ order.total | number:'1.0-0' }}</div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>