$color1: #D0021B;
$color2: #F5A623;
$color3: #4A90E2;
$color4: #7ED321;
$grey1: #F2F2F2;
$grey2: #E1E1E1;
$grey3: #C8C8C8;
$grey4: #757575;

$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$titleFontSize: 24px;
$subtitleFontSize: 20px;
$subtitle2FontSize: 16px;
$textFontSize: 14px;