@import 'vars';
.statistics__summary {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  margin-bottom: 18px;
}

.mat-card {
  padding: 30px;
}

.order-stats__card {
  .mat-card-header {
    font-weight: 500;
    justify-content: center;
  }
  .order-stats__value {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
  }
}

.order-stats__value--total-revenue {
  color: $color4;
}

.order-stats__value--total-cost {
  color: $color1;
}

.order-stats__value--net-income {
  color: $color3;
}

.charts__title {
  font-size: $titleFontSize;
  font-weight: bold;
}
