<section class="statistics">
  <div class="statistics__summary">
    <mat-card class="order-stats__card">
      <mat-card-header>TOTAL REVENUE</mat-card-header>
      <mat-card-content class="order-stats__value order-stats__value--total-revenue">{{ orderStatistics.totalRevenue | number:'1.0-0' }}</mat-card-content>
    </mat-card>

    <mat-card class="order-stats__card">
      <mat-card-header>TOTAL COST</mat-card-header>
      <mat-card-content class="order-stats__value order-stats__value--total-cost">{{ orderStatistics.totalCost | number:'1.0-0' }}</mat-card-content>
    </mat-card>

    <mat-card class="order-stats__card">
      <mat-card-header>NET INCOME</mat-card-header>
      <mat-card-content class="order-stats__value order-stats__value--net-income">{{ orderStatistics.netIncome | number:'1.0-0' }}</mat-card-content>
    </mat-card>
  </div>

  <div class="statistics__charts">
    <mat-card>
      <mat-card-header class="charts__title">Activity</mat-card-header>
      <mat-card-content>
        <div *ngIf="chart">
          <canvas id="activity_chart" class="chart__activity">{{ chart }}</canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</section>
